<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome to <b>Find Your Recipe!!!
    </b></h2>
    <span class="desc">Find Your Recipe is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application find Recipe and Place to find that Food.</span><br><br><br>
    <form>
      <div class="img img-responsive">
        <img src="https://media.istockphoto.com/photos/varied-food-carbohydrates-protein-vegetables-fruits-dairy-legumes-on-picture-id1218254547?b=1&k=20&m=1218254547&s=170667a&w=0&h=mOEC7x7qU5NC78mCULs-jAPeLkxy8opOvIbGSnwmAyw="
             alt="" style="height: 350px">
      </div>
      <div class="form-group">
        <label>Subscribe to our news letter:</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5">Submit</button>
      </div>
    </form>
  </div>
</div>
